# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.build/
Packages/

# CocoaPods / Carthage
Pods/
Carthage/Build/

# App archives
*.ipa
*.dSYM.zip
*.dSYM

# Provisioning profiles
*.mobileprovision
*.provisionprofile

# Playgrounds
timeline.xctimeline
playground.xcworkspace
